nav {
    background-color: hsl(275, 82%, 46%);
    padding: 10px;
    text-align: left;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
} 
nav ul li a:hover {
    background-color: #000000;
    border-radius: 5px;
}
img {
justify-content: center;    
}